<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario de Alimentación</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="container">
        <h1>Formulario de Alimentación</h1>
        <form th:action="@{/alimentacion/guardar}" th:object="${alimentacion}" method="post">
            <input type="hidden" th:field="*{id}">
            <label>Descripción:</label>
            <input type="text" th:field="*{descripcion}" required><br>
            <label>Dosis:</label>
            <input type="text" th:field="*{dosis}" required><br>
            <button type="submit">Guardar</button>
        </form>
    </br>
        <a href="/alimentacion" class="btn">Volver a la lista</a>
    </div>
</body>
</html>
