<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario de Cliente</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="container">
        <h1>Formulario de Cliente</h1>
        <form th:action="@{/clientes/guardar}" th:object="${cliente}" method="post">
            <label>Cédula:</label>
            <input type="text" th:field="*{cedula}" required><br>

            <label>Nombres:</label>
            <input type="text" th:field="*{nombres}" required><br>

            <label>Apellidos:</label>
            <input type="text" th:field="*{apellidos}" required><br>

            <label>Dirección:</label>
            <input type="text" th:field="*{direccion}" required><br>

            <label>Teléfono:</label>
            <input type="text" th:field="*{telefono}" required><br>

            <button type="submit">Guardar</button>
        </form>
    </br>
    <a href="/clientes" class="btn">Volver a la lista</a>
    </div>
</body>
</html>
