<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reporte de Porcinos y Clientes</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="navbar">
        <a href="/clientes">Clientes</a>
        <a href="/alimentacion">Alimentación</a>
        <a href="/porcinos">Porcinos</a>
        <a href="/porcinos/reporte">Reporte Cliente Porcinos</a>
    </div> </br>

    <div class="container">
        <h1>Reporte de Porcinos y Clientes</h1>
        
        <h2>Clientes</h2>
        <table>
            <tr>
                <th>Cédula</th>
                <th>Nombre</th>
                <th>Teléfono</th>
            </tr>
            <tr th:each="cliente : ${clientes}">
                <td th:text="${cliente.cedula}"></td>
                <td th:text="${cliente.nombres}"></td>
                <td th:text="${cliente.telefono}"></td>
            </tr>
        </table>

        <h2>Porcinos</h2>
        <table>
            <tr>
                <th>ID</th>
                <th>Raza</th>
                <th>Edad</th>
                <th>Peso</th>
                <th>Cliente</th>
                <th>Alimentación</th>
            </tr>
            <tr th:each="porcino : ${porcinos}">
                <td th:text="${porcino.id}"></td>
                <td th:text="${porcino.raza}"></td>
                <td th:text="${porcino.edad}"></td>
                <td th:text="${porcino.peso}"></td>
                <td th:text="${porcino.cliente.nombres}"></td>
                <td th:text="${porcino.alimentacion.descripcion}"></td>
            </tr>
        </table>

        
    </div>
</body>
</html>
